<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="PageTitle" value="环宇通达"/>
    <add key="DownType" value=".rar,.zip,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.txt"/>
    <add key="DownSize" value="10485760"/>
		<add key="numPerPage" value="20"/>
		<add key="pageNumShown" value="10"/>
		<add key="remindDate" value="7"/>
		<add key="ResourceFile" value="Upload/Resources"/>
 		<add key="publicImage" value="/publicImage/publicImage"/>   
 		<add key="publicImage_Thumbnail" value="/publicImage/publicImage_Thumbnail"/>
    <add key="visitMin" value="10"/>
    <add key="ServerLog" value="/log"/>
    <add key="CustomerFiles" value="/Customer"/>
    <add key="Departments" value="2,5"/>
    <!--考勤添加备注权限人员-->
    <add key="UserCode" value="27,9,3"/>
    <!--呼叫中心相关 工单状态主类型--> 
     <add key="SendEmail" value="16,37,81"/>   
    <add key="Users" value="16,29,37,43,81"/>
    <add key="workbillStatusAll" value="27"/>
    <add key="Satisfactioner" value="16"/>    
    <add key="SendEmailUsers" value="16"/>        
    <!-- 管理人员xml文件地址-->
    <add key="mangers" value="/Posts/managersInfo.xml"/>
    <add key="caurl" value="http://localhost:8001/"/>    
     <add key="ErrorCode" value="0x"/>   
    <!--考勤调整时间-->
    <add key="adjust" value="2014-07-21"/>
    <!--考勤调整时间-->
    <add key="newAdjust" value="2015-06-15"/>
    <!--发送邮件 抄送人-->
    <add key="mailCC" value=""/>
    <!--发送邮件 密送人-->
    <add key="mailBCC" value=""/>
  </appSettings>
	<connectionStrings>
		<add name="caactiveError" connectionString="Data Source=192.168.20.190;Initial Catalog=Attendance;User ID=sa;Password=123.com" providerName="System.Data.SqlClient"/>
		<add name="KaoqinConnectionString" connectionString="Data Source=192.168.20.190;Initial Catalog=Attendance;User ID=sa;Password=123.com" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=192.168.20.190;Initial Catalog=Attendance;User ID=sa;Password=123.com" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
