<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Models.Properties.Settings.AttendanceConnectionString"
            connectionString="Data Source=192.168.10.145;Initial Catalog=Attendance;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Models.Properties.Settings.AttendanceConnectionString1"
            connectionString="Data Source=192.168.10.145;Initial Catalog=Attendance;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Models.Properties.Settings.AttendanceConnectionString2"
            connectionString="Data Source=192.168.10.145;Initial Catalog=Attendance;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Models.Properties.Settings.AttendanceConnectionString3"
            connectionString="Data Source=192.168.10.145;Initial Catalog=Attendance;Persist Security Info=True;User ID=sa;Password=123.com"
            providerName="System.Data.SqlClient" />
        <add name="Models.Properties.Settings.AttendanceConnectionString5"
            connectionString="Data Source=192.168.10.145;Initial Catalog=Attendance;User ID=sa;Password=123.com"
            providerName="System.Data.SqlClient" />
        <add name="Models.Properties.Settings.AttendanceConnectionString4"
            connectionString="Data Source=.;Initial Catalog=Attendance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Models.Properties.Settings.AttendanceConnectionString6"
            connectionString="Data Source=DESKTOP-EJSJP3Q;Initial Catalog=Attendance;User ID=sa;Password=123.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>