body {
background: #fff url("/myd/18_p.jpg") repeat-x;
}
#jqContent {
width:920px;
background:url("/myd/newbackground18_bg.jpg") no-repeat top center;
padding-top: 196px;
margin:0 auto;
}
#headerCss {
background: white no-repeat;
width: 920px;
margin: 0 auto;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border: 6px solid #77d3ff;
border-bottom: none;
}
#mainCss {
background: white;
width: 920px;
margin: 0 auto;
border: 6px solid #77d3ff;
border-bottom: none;
border-top: none;
}
#footercss {
width: 920px;
margin: 0 auto;
background: white;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border: 6px solid #77d3ff;
border-top: none;
height: 20px;
}
.surveyhead h1{
color:#19a8ee;
}

input.submitbutton {
border:1px solid #0492d6;
background:#13a5ec;
}
input.submitbutton_hover
{
    background:#1eb0f6; color:#fff !important;
}
legend{display:none;}
fieldset{border:0;}